/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.student-container {
    display: flex;
    height: 100%;
    width: 100%;
}

/* Ліве меню */
.sidebar {
    width: 15%;
    background-color: #ccffcc;
    color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

.sidebar h1 {
    font-size: 24px;
    color: #009900;
    margin: 0;
    text-align: center;
    width: 100%;
}

.sidebar h2 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

/* Меню навігації */
.nav-menu {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.nav-menu li {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.nav-menu li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    display: block;
    padding: 10px;
}

.nav-menu li a:hover, .nav-menu .active {
    background-color: #009900; /* Темніший колір для активного пункту */
    color: white;
    font-weight: bold;
}


/* Основний контент */
.main-content {
    flex: 1;
    width: 80%;
    padding: 20px;
    background-color: white;
    margin-left: 20%; /* Створюємо відступ зліва для основного контенту */
    box-sizing: border-box; /* Для коректного розподілу простору */
    overflow-y: auto;  /* Додаємо вертикальну прокрутку для основного контенту */
}

/* активний пункт меню */
.nav-menu li a.active {
    background-color: #ccffcc; /* Такий самий фон, як у sidebar */
    color: #006622;
    font-size: 18px; /* Збільшений розмір шрифту */
    font-weight: bold;
}

.create-announcement-title {
    text-align: center; /* Відцентровка тексту по горизонталі */
    color: #009900; /* Синій колір */
    font-size: 32px; /* Розмір шрифта */
    font-weight: bold; /* Жирний шрифт */
    margin-top: 20px; /* Відступ зверху для більшої естетики */
}

.announcement {
    background-color: #E8F5E9; /* світло-зелений фон */
    border-left: 5px solid #388E3C; /* темно-зелений акцент */
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.announcement small {
    color: #666; /* зелений для дати */
}
