/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.student-container {
    display: flex;
    height: 100%;
    width: 100%;
}

/* Ліве меню */
.sidebar {
    width: 15%;
    background-color: #ccffcc;
    color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

.sidebar h1 {
    font-size: 24px;
    color: #009900;
    margin: 0;
    text-align: center;
    width: 100%;
}

.sidebar h2 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

/* Меню навігації */
.nav-menu {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.nav-menu li {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.nav-menu li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    display: block;
    padding: 10px;
}

.nav-menu li a:hover, .nav-menu .active {
    background-color: #009900; /* Темніший колір для активного пункту */
    color: white;
    font-weight: bold;
}


/* Основний контент */
.main-content {
    flex: 1;
    width: 80%;
    padding: 20px;
    background-color: white;
    margin-left: 20%; /* Створюємо відступ зліва для основного контенту */
    box-sizing: border-box; /* Для коректного розподілу простору */
    overflow-y: auto;  /* Додаємо вертикальну прокрутку для основного контенту */
}

/* активний пункт меню */
.nav-menu li a.active {
    background-color: #ccffcc; /* Такий самий фон, як у sidebar */
    color: #006622;
    font-size: 18px; /* Збільшений розмір шрифту */
    font-weight: bold;
}

/* Стиль для заголовка */
.main-content h2 {
    text-align: center; /* Центруємо текст */
    color: #009900; /* Зелений колір */
    font-size: 32px; /* Збільшуємо розмір */
    font-weight: bold; /* Жирний текст */
    margin-bottom: 20px; /* Додаємо відступ знизу */
}

/* Стилі для таблиці */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #e6ffe6; /* Світло-зелений фон */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    border: 1px solid #006622; /* Темно-зелені границі */
    padding: 12px;
    text-align: left;
}

th {
    background-color: #33cc33; /* Зелений заголовок */
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #ccffcc; /* Світло-зелені рядки через один */
}

tr:hover {
    background-color: #b3e6b3; /* Виділення рядка при наведенні */
}

