/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.student-container {
    display: flex;
    height: 100%;
    width: 100%;
}

/* Ліве меню */
.sidebar {
    width: 15%;
    background-color: #E0F7FA;
    color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    overflow-y: auto;

}

.sidebar h1 {
    font-size: 24px;
    color: #000099;
    margin: 0;
    text-align: center;
    width: 100%;
}

.sidebar h2 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

/* Меню навігації */
.nav-menu {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.nav-menu li {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.nav-menu li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    display: block;
    padding: 10px;
}

.nav-menu li a:hover, .nav-menu .active {
    background-color: #000066; /* Темніший колір для активного пункту */
    color: white;
    font-weight: bold;
}


/* Основний контент */
.main-content {
    flex: 1;
    width: 80%;
    padding: 20px;
    background-color: white;
    margin-left: 20%; /* Створюємо відступ зліва для основного контенту */
    box-sizing: border-box; /* Для коректного розподілу простору */
    overflow-y: auto;  /* Додаємо вертикальну прокрутку для основного контенту */
}

/* активний пункт меню */
.nav-menu li a.active {
    background-color: #E0F7FA; /* Такий самий фон, як у sidebar */
    color: #000066; /* Темно-синій */
    font-size: 18px; /* Збільшений розмір шрифту */
    font-weight: bold;
}

/* Стиль для заголовка */
.main-content h2 {
    text-align: center; /* Відцентровка тексту по горизонталі */
    color: #000099; /* Синій колір */
    font-size: 32px; /* Розмір шрифта */
    font-weight: bold; /* Жирний шрифт */
    margin-top: 20px; /* Відступ зверху для більшої естетики */
}

.qr-code-container {
    text-align: center;
    margin-top: 20px;
}

.qr-code-container img {
    width: 200px;
    height: 200px;
}

.qr-description {
    font-size: 14px;
    color: gray;
}

.qr-info {
    font-size: 16px;
    font-weight: bold;
    color: #0056b3; /* Темно-синій колір */
    text-align: center;
    margin-top: 10px;
    background-color: #f0f8ff; /* Світло-блакитний фон */
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #0056b3;
}