body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.student-container {
    display: flex;
    height: 100%;
    width: 100%;
}

/* Ліве меню */
.sidebar {
    width: 15%;
    background-color: #E0F7FA;
    color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    overflow-y: auto;

}

.sidebar h1 {
    font-size: 24px;
    color: #000099;
    margin: 0;
    text-align: center;
    width: 100%;
}

.sidebar h2 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

/* Меню навігації */
.nav-menu {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.nav-menu li {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.nav-menu li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    display: block;
    padding: 10px;
}

.nav-menu li a:hover, .nav-menu .active {
    background-color: #000066;
    color: white;
    font-weight: bold;
}


/* Основний контент */
.main-content {
    flex: 1;
    width: 80%;
    padding: 20px;
    background-color: white;
    margin-left: 20%;
    box-sizing: border-box;
    overflow-y: auto;
}

.nav-menu li a.active {
    background-color: #E0F7FA;
    color: #000066;
    font-size: 18px;
    font-weight: bold;
}

.create-announcement-title {
    text-align: center;
    color: #000099;
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}

.announcement {
    background-color: #E0F7FA;
    border-left: 5px solid #0099cc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.announcement small {
    color: #666; 
}

