<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Е-кабінет</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/kai_logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hostel_recording_of_violations.css') }}">

</head>
<body>
    <div class="student-container">
        <div class="sidebar">
            <h1>Е-кабінет</h1>
            <h2>Адміністратор гуртожитку</h2>
            <nav>
                <ul class="nav-menu">
                    <li><a href="{{ url_for('hostel.main') }}" >Головна</a></li>
                    <li><a href="{{ url_for('hostel.hostel_e_queue') }}">Е-черга</a></li>
                    <li><a href="{{ url_for('hostel.hostel_settlement') }}">Поселення</a></li>
                    <li><a href="{{ url_for('hostel.hostel_residents') }}">Облік мешканців</a></li>
                    <li><a href="{{ url_for('hostel.hostel_eviction') }}">Виселення</a></li>
                    <li><a href="{{ url_for('hostel.hostel_violation_rules') }}">Порушення правил проживання</a></li>
                    <li><a href="{{ url_for('hostel.hostel_recording_of_violations') }}" class = "active">Облік порушень</a></li>
                    <li><a href="{{ url_for('hostel.hostel_add_inventory') }}">Закріпити інвентар</a></li>
                    <li><a href="{{ url_for('hostel.hostel_inventory_accounting') }}">Облік інвентарю</a></li>
                    <li><a href="{{ url_for('hostel.hostel_maintenance') }}">Технічне обслуговування</a></li>
                    <li><a href="{{ url_for('hostel.hostel_maintenance_reports') }}">Звіт про технічне обслуговування</a></li>
                    <li><a href="{{ url_for('hostel.hostel_exit') }}">Вихід</a></li>
                </ul>
            </nav>
        </div>

        <div class="main-content">
            <h2>Облік порушень правил проживання</h2>

             <!-- Повідомлення -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert {{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <!-- Форма пошуку -->
            <form class = "search-form" method="POST">
                <input type="text" name="search_query" placeholder="Пошук за прізвищем" value="{{ search_query }}">
                <button type="submit">Пошук</button>
            </form>

            <!-- Таблиця порушень -->
            <table>
                <thead>
                    <tr>
                        <th>Прізвище</th>
                        <th>Ім'я</th>
                        <th>По батькові</th>
                        <th>Тип порушення</th>
                        <th>Опис</th>
                        <th>Покарання</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody>
                    {% for violation in violations %}
                        <tr>
                            <td>{{ violation[1] }}</td>
                            <td>{{ violation[2] }}</td>
                            <td>{{ violation[3] }}</td>
                            <td>{{ violation[4] }}</td>
                            <td>{{ violation[5] }}</td>
                            <td>{{ violation[6] if violation[6] else '-' }}</td>
                            <td>
                                <form method="POST">
                                    <input type="hidden" name="delete_violation" value="{{ violation[0] }}">
                                    <button class="btn-danger" type="submit">Скасувати</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
