<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Е-кабінет</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/kai_logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/university_recording_of_violations.css') }}">

</head>
<body>
    <div class="student-container">
        <div class="sidebar">
            <h1>Е-кабінет</h1>
            <h2>Адміністратор університету</h2>
            <nav>
                <ul class="nav-menu">
                    <li><a href="{{ url_for('university.main') }}" >Головна</a></li>
                    <li><a href="{{ url_for('university.university_information') }}" >Розміщення інформації</a></li>
                    <li><a href="{{ url_for('university.university_statement') }}" >Заяви на поселення</a></li>
                    <li><a href="{{ url_for('university.university_residents') }}" >Мешканці гуртожитків</a></li>
                    <li><a href="{{ url_for('university.university_recording_of_violations') }}" class = "active">Облік порушень</a></li>
                    <li><a href="{{ url_for('university.university_user_management') }}">Управління користувачами</a></li>
                    <li><a href="{{ url_for('university.university_exit') }}">Вихід</a></li>
                </ul>
            </nav>
        </div>

        <div class="main-content">
            <h2 class="create-announcement-title">Облік порушень</h2>

            {% if violations %}
            <table>
                <thead>
                    <tr>
                        <th>Прізвище</th>
                        <th>Ім’я</th>
                        <th>По батькові</th>
                        <th>Дата</th>
                        <th>Тип порушення</th>
                        <th>Опис</th>
                        <th>Штраф / Покарання</th>
                    </tr>
                </thead>
                <tbody>
                    {% for violation in violations %}
                    <tr>
                        <td>{{ violation['last_name'] }}</td>
                        <td>{{ violation['first_name'] }}</td>
                        <td>{{ violation['patronymic'] }}</td>
                        <td>{{ violation['date'] }}</td>
                        <td>{{ violation['violation_type'] }}</td>
                        <td>{{ violation['description'] }}</td>
                        <td>{{ violation['penalty'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Немає зареєстрованих порушень.</p>
            {% endif %}
        </div>
    </div>
</body>

</html>
